Jun 19 11:08:47 ubuntu cinder-scheduler[1763825]: DEBUG dbcounter [-] [1763825] Writing DB stats cinder:SELECT=1,cinder:UPDATE=1 {{(pid=1763825) stat_writer /opt/stack/data/venv/lib/python3.12/site-packages/dbcounter.py:115}}
