Jun 19 11:08:49 ubuntu cinder-volume[1765627]: DEBUG dbcounter [-] [1765627] Writing DB stats cinder:SELECT=1,cinder:UPDATE=1 {{(pid=1765627) stat_writer /opt/stack/data/venv/lib/python3.12/site-packages/dbcounter.py:115}}
