Jul 02 16:49:21 ubuntu cinder-volume[563878]: DEBUG cinder.manager [None req-ef13198d-e502-49be-89fe-9642ae019249 None None] Heartbeat: ping to ubuntu@nvmetcp1, topic=cinder-volume {{(pid=563878) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:175}}
Jul 02 16:49:21 ubuntu cinder-volume[563878]: DEBUG cinder.manager [None req-17dfae81-7d1e-4cfa-94f3-6f04cbbc19a9 None None] Heartbeat: received ping fbb2d6dc-5650-47e0-aae9-d37022617c5d on ubuntu@nvmetcp1 {{(pid=563878) ping /opt/stack/cinder/cinder/manager.py:211}}
Jul 02 16:49:21 ubuntu cinder-volume[563882]: DEBUG cinder.manager [None req-d9becc97-95fc-4f38-ae04-6600638ff1c5 None None] Heartbeat: ping to ubuntu@nvmetcp2, topic=cinder-volume {{(pid=563882) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:175}}
Jul 02 16:49:21 ubuntu cinder-volume[563882]: DEBUG cinder.manager [None req-93339526-aac8-47ff-8909-f31bd23b31a6 None None] Heartbeat: received ping 53570f6f-34fc-42e7-b5e0-75e3f895b2a0 on ubuntu@nvmetcp2 {{(pid=563882) ping /opt/stack/cinder/cinder/manager.py:211}}
Jul 02 16:49:21 ubuntu cinder-volume[563878]: DEBUG cinder.manager [None req-ef13198d-e502-49be-89fe-9642ae019249 None None] Heartbeat: ping fbb2d6dc-5650-47e0-aae9-d37022617c5d replied in 0.504 sec {{(pid=563878) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:189}}
Jul 02 16:49:21 ubuntu cinder-volume[563882]: DEBUG cinder.manager [None req-d9becc97-95fc-4f38-ae04-6600638ff1c5 None None] Heartbeat: ping 53570f6f-34fc-42e7-b5e0-75e3f895b2a0 replied in 0.503 sec {{(pid=563882) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:189}}
Jul 02 16:49:31 ubuntu cinder-volume[563878]: DEBUG cinder.manager [None req-ef13198d-e502-49be-89fe-9642ae019249 None None] Heartbeat: ping to ubuntu@nvmetcp1, topic=cinder-volume {{(pid=563878) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:175}}
Jul 02 16:49:31 ubuntu cinder-volume[563878]: DEBUG cinder.manager [None req-aa218885-a7ef-436c-ad86-bc404c954407 None None] Heartbeat: received ping 26a091a5-8431-4dc0-8bdf-1545f04ece87 on ubuntu@nvmetcp1 {{(pid=563878) ping /opt/stack/cinder/cinder/manager.py:211}}
Jul 02 16:49:31 ubuntu cinder-volume[563882]: DEBUG cinder.manager [None req-d9becc97-95fc-4f38-ae04-6600638ff1c5 None None] Heartbeat: ping to ubuntu@nvmetcp2, topic=cinder-volume {{(pid=563882) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:175}}
Jul 02 16:49:31 ubuntu cinder-volume[563882]: DEBUG cinder.manager [None req-1149bae3-9dc6-4309-8247-d318f18714e2 None None] Heartbeat: received ping 720de453-265d-49a1-b4fe-428319e3795d on ubuntu@nvmetcp2 {{(pid=563882) ping /opt/stack/cinder/cinder/manager.py:211}}
Jul 02 16:49:31 ubuntu cinder-volume[563878]: DEBUG cinder.manager [None req-ef13198d-e502-49be-89fe-9642ae019249 None None] Heartbeat: ping 26a091a5-8431-4dc0-8bdf-1545f04ece87 replied in 0.509 sec {{(pid=563878) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:189}}
Jul 02 16:49:31 ubuntu cinder-volume[563882]: DEBUG cinder.manager [None req-d9becc97-95fc-4f38-ae04-6600638ff1c5 None None] Heartbeat: ping 720de453-265d-49a1-b4fe-428319e3795d replied in 0.505 sec {{(pid=563882) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:189}}
