Jul 02 11:17:16 ubuntu cinder-volume[135280]: DEBUG cinder.manager [None req-d19aad42-36f8-48fa-ab0e-ad3da19f98ed None None] Heartbeat: ping to ubuntu@nvmetcp1, topic=cinder-volume {{(pid=135280) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:176}}
Jul 02 11:17:16 ubuntu cinder-volume[135280]: DEBUG cinder.manager [None req-91ba7017-b7ed-4a76-8de2-2ca93d6e62f6 None None] Heartbeat: received ping 1e9fc815-64f2-42c8-b2cd-e4d874c656ce on ubuntu@nvmetcp1 {{(pid=135280) ping /opt/stack/cinder/cinder/manager.py:212}}
Jul 02 11:17:16 ubuntu cinder-volume[135283]: DEBUG cinder.manager [None req-ade27436-ff54-4da4-abc2-8fb8e20b59fa None None] Heartbeat: ping to ubuntu@nvmetcp2, topic=cinder-volume {{(pid=135283) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:176}}
Jul 02 11:17:16 ubuntu cinder-volume[135283]: DEBUG cinder.manager [None req-ac0ce03e-5562-4973-94b6-7c7fce403e74 None None] Heartbeat: received ping 38898c38-cc7b-41e5-aa26-89040381ca1f on ubuntu@nvmetcp2 {{(pid=135283) ping /opt/stack/cinder/cinder/manager.py:212}}
Jul 02 11:17:17 ubuntu cinder-volume[135280]: DEBUG cinder.manager [None req-d19aad42-36f8-48fa-ab0e-ad3da19f98ed None None] Heartbeat: ping 1e9fc815-64f2-42c8-b2cd-e4d874c656ce replied in 0.506 sec {{(pid=135280) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:190}}
Jul 02 11:17:17 ubuntu cinder-volume[135283]: DEBUG cinder.manager [None req-ade27436-ff54-4da4-abc2-8fb8e20b59fa None None] Heartbeat: ping 38898c38-cc7b-41e5-aa26-89040381ca1f replied in 0.505 sec {{(pid=135283) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:190}}
Jul 02 11:17:26 ubuntu cinder-volume[135280]: DEBUG cinder.manager [None req-d19aad42-36f8-48fa-ab0e-ad3da19f98ed None None] Heartbeat: ping to ubuntu@nvmetcp1, topic=cinder-volume {{(pid=135280) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:176}}
Jul 02 11:17:26 ubuntu cinder-volume[135283]: DEBUG cinder.manager [None req-ade27436-ff54-4da4-abc2-8fb8e20b59fa None None] Heartbeat: ping to ubuntu@nvmetcp2, topic=cinder-volume {{(pid=135283) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:176}}
Jul 02 11:17:26 ubuntu cinder-volume[135280]: DEBUG cinder.manager [None req-da556176-d643-43d5-bbd2-0c6355e5bbb1 None None] Heartbeat: received ping 3c967275-cde2-4c2b-9881-d052e27bb804 on ubuntu@nvmetcp1 {{(pid=135280) ping /opt/stack/cinder/cinder/manager.py:212}}
Jul 02 11:17:26 ubuntu cinder-volume[135283]: DEBUG cinder.manager [None req-5167ddb6-db9b-4b0f-b3e3-4b74d87a9764 None None] Heartbeat: received ping 74c71bca-b03b-4006-891a-2a4afbabc028 on ubuntu@nvmetcp2 {{(pid=135283) ping /opt/stack/cinder/cinder/manager.py:212}}
Jul 02 11:17:27 ubuntu cinder-volume[135280]: DEBUG cinder.manager [None req-d19aad42-36f8-48fa-ab0e-ad3da19f98ed None None] Heartbeat: ping 3c967275-cde2-4c2b-9881-d052e27bb804 replied in 0.505 sec {{(pid=135280) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:190}}
Jul 02 11:17:27 ubuntu cinder-volume[135283]: DEBUG cinder.manager [None req-ade27436-ff54-4da4-abc2-8fb8e20b59fa None None] Heartbeat: ping 74c71bca-b03b-4006-891a-2a4afbabc028 replied in 0.504 sec {{(pid=135283) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:190}}
