Jun 15 11:13:03 ubuntu devstack@keystone.service[3907797]: DEBUG dbcounter [-] [3907797] Writing DB stats keystone:SELECT=43 {{(pid=3907797) stat_writer /opt/stack/data/venv/lib/python3.12/site-packages/dbcounter.py:115}}
