Aug 03 19:55:08 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 21.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 03 19:55:14 ubuntu cinder-volume[468682]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 21.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 03 19:55:14 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 21.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 03 19:55:29 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 23.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 03 19:55:35 ubuntu cinder-volume[468682]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 23.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 03 19:55:35 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 23.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 03 19:55:52 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 25.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 03 19:55:58 ubuntu cinder-volume[468682]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 25.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 03 19:55:58 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 25.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 03 19:56:17 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 27.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 03 19:56:23 ubuntu cinder-volume[468682]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 27.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 03 19:56:23 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 27.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
