Sep 11 06:46:39 ubuntu etcd[2832266]: {"level":"info","ts":"2026-09-11T06:46:39.064790Z","caller":"zapgrpc/zapgrpc.go:174","msg":"[core] [Channel #3] Closing the name resolver"}
Sep 11 06:46:39 ubuntu etcd[2832266]: {"level":"info","ts":"2026-09-11T06:46:39.065565Z","caller":"zapgrpc/zapgrpc.go:174","msg":"[core] [Channel #3] ccBalancerWrapper: entering idle mode"}
Sep 11 06:46:39 ubuntu etcd[2832266]: {"level":"info","ts":"2026-09-11T06:46:39.065653Z","caller":"zapgrpc/zapgrpc.go:174","msg":"[core] [Channel #3] Channel Connectivity change to IDLE"}
Sep 11 06:46:39 ubuntu etcd[2832266]: {"level":"info","ts":"2026-09-11T06:46:39.065698Z","caller":"zapgrpc/zapgrpc.go:174","msg":"[core] [Channel #3] Channel entering idle mode"}
Sep 11 06:46:39 ubuntu etcd[2832266]: {"level":"info","ts":"2026-09-11T06:46:39.065779Z","caller":"zapgrpc/zapgrpc.go:174","msg":"[core] [Channel #3 SubChannel #4] Subchannel Connectivity change to SHUTDOWN"}
Sep 11 06:46:39 ubuntu etcd[2832266]: {"level":"info","ts":"2026-09-11T06:46:39.065864Z","caller":"zapgrpc/zapgrpc.go:174","msg":"[core] [Channel #3 SubChannel #4] Subchannel deleted"}
Sep 11 06:46:39 ubuntu etcd[2832266]: {"level":"info","ts":"2026-09-11T06:46:39.065950Z","caller":"zapgrpc/zapgrpc.go:174","msg":"[transport] [client-transport 0xc0001d8008] Closing: grpc: the connection is closing due to channel idleness"}
Sep 11 06:46:39 ubuntu etcd[2832266]: {"level":"info","ts":"2026-09-11T06:46:39.066113Z","caller":"zapgrpc/zapgrpc.go:174","msg":"[transport] [client-transport 0xc0001d8008] loopyWriter exiting with error: transport closed by client"}
Sep 11 06:46:39 ubuntu etcd[2832266]: {"level":"info","ts":"2026-09-11T06:46:39.066378Z","caller":"zapgrpc/zapgrpc.go:174","msg":"[transport] [server-transport 0xc00014d380] Closing: EOF"}
Sep 11 06:46:39 ubuntu etcd[2832266]: {"level":"info","ts":"2026-09-11T06:46:39.066735Z","caller":"zapgrpc/zapgrpc.go:174","msg":"[transport] [server-transport 0xc00014d380] loopyWriter exiting with error: transport closed by client"}
