Aug 17 12:35:52 ubuntu cinder-volume[2915867]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 21.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:35:53 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 21.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:35:53 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 21.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:36:13 ubuntu cinder-volume[2915867]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 23.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:36:14 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 23.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:36:14 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 23.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:36:36 ubuntu cinder-volume[2915867]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 25.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:36:37 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 25.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:36:37 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 25.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:37:01 ubuntu cinder-volume[2915867]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 27.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:37:02 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 27.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:37:02 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 27.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:37:28 ubuntu cinder-volume[2915867]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 29.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:37:29 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 29.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:37:29 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 29.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:37:57 ubuntu cinder-volume[2915867]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:37:58 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:37:58 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:38:28 ubuntu cinder-volume[2915867]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:38:29 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:38:29 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:38:59 ubuntu cinder-volume[2915867]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:39:00 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:39:00 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:39:30 ubuntu cinder-volume[2915867]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:39:31 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:39:31 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:40:01 ubuntu cinder-volume[2915867]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:40:02 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:40:02 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:40:33 ubuntu cinder-volume[2915867]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:40:33 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 12:40:33 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
