Jul 02 11:17:27 ubuntu cinder-volume[132121]: DEBUG cinder.manager [None req-0942559d-4e00-47bc-8bf0-4d0fad610e4d None None] Heartbeat: ping to ubuntu@arcusfc1, topic=cinder-volume {{(pid=132121) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:176}}
Jul 02 11:17:27 ubuntu cinder-volume[132121]: DEBUG cinder.manager [None req-42800642-0941-461d-b40c-f2ac6c7e87ac None None] Heartbeat: received ping f481f211-179c-4aec-b50f-d265614cff05 on ubuntu@arcusfc1 {{(pid=132121) ping /opt/stack/cinder/cinder/manager.py:212}}
Jul 02 11:17:28 ubuntu cinder-volume[132122]: DEBUG cinder.manager [None req-8de3971c-2f5c-4141-b5dd-fd800e60c494 None None] Heartbeat: ping to ubuntu@arcusfc2, topic=cinder-volume {{(pid=132122) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:176}}
Jul 02 11:17:28 ubuntu cinder-volume[132122]: DEBUG cinder.manager [None req-64cd997d-e985-4c9f-bb76-44c776ebe624 None None] Heartbeat: received ping c7602a06-baa4-4a93-93c5-1b3e21f37679 on ubuntu@arcusfc2 {{(pid=132122) ping /opt/stack/cinder/cinder/manager.py:212}}
Jul 02 11:17:28 ubuntu cinder-volume[132121]: DEBUG cinder.manager [None req-0942559d-4e00-47bc-8bf0-4d0fad610e4d None None] Heartbeat: ping f481f211-179c-4aec-b50f-d265614cff05 replied in 0.507 sec {{(pid=132121) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:190}}
Jul 02 11:17:28 ubuntu cinder-volume[132122]: DEBUG cinder.manager [None req-8de3971c-2f5c-4141-b5dd-fd800e60c494 None None] Heartbeat: ping c7602a06-baa4-4a93-93c5-1b3e21f37679 replied in 0.504 sec {{(pid=132122) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:190}}
