Jul 02 16:49:06 ubuntu cinder-volume[563787]: DEBUG cinder.manager [None req-894f687b-46b3-4492-8ae8-06314d9773a2 None None] Heartbeat: ping to ubuntu@arcusfc1, topic=cinder-volume {{(pid=563787) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:175}}
Jul 02 16:49:06 ubuntu cinder-volume[563787]: DEBUG cinder.manager [None req-b768a657-5bda-46ca-98cc-c43f375e9c3a None None] Heartbeat: received ping 9a335638-ff51-4b90-a50e-77cc5abe80a3 on ubuntu@arcusfc1 {{(pid=563787) ping /opt/stack/cinder/cinder/manager.py:211}}
Jul 02 16:49:06 ubuntu cinder-volume[563789]: DEBUG cinder.manager [None req-e3e8e75f-7a7f-44f4-bda8-03c8767f3014 None None] Heartbeat: ping to ubuntu@arcusfc2, topic=cinder-volume {{(pid=563789) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:175}}
Jul 02 16:49:06 ubuntu cinder-volume[563789]: DEBUG cinder.manager [None req-e7987e87-b047-4f94-b885-a8ad40cece54 None None] Heartbeat: received ping 98253eb4-2c8d-4142-9781-a955e868a500 on ubuntu@arcusfc2 {{(pid=563789) ping /opt/stack/cinder/cinder/manager.py:211}}
Jul 02 16:49:06 ubuntu cinder-volume[563787]: DEBUG cinder.manager [None req-894f687b-46b3-4492-8ae8-06314d9773a2 None None] Heartbeat: ping 9a335638-ff51-4b90-a50e-77cc5abe80a3 replied in 0.508 sec {{(pid=563787) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:189}}
Jul 02 16:49:06 ubuntu cinder-volume[563789]: DEBUG cinder.manager [None req-e3e8e75f-7a7f-44f4-bda8-03c8767f3014 None None] Heartbeat: ping 98253eb4-2c8d-4142-9781-a955e868a500 replied in 0.506 sec {{(pid=563789) _rpc_heartbeat_ping /opt/stack/cinder/cinder/manager.py:189}}
