Aug 10 14:44:19 ubuntu cinder-volume[2915867]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 10 14:44:19 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 10 14:44:21 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 10 14:44:50 ubuntu cinder-volume[2915867]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 10 14:44:50 ubuntu cinder-volume[2915782]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
