Aug 17 07:55:37 ubuntu cinder-volume[468682]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 21.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:55:38 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 21.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:55:38 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 21.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:55:58 ubuntu cinder-volume[468682]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 23.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:55:59 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 23.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:55:59 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 23.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:56:21 ubuntu cinder-volume[468682]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 25.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:56:22 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 25.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:56:22 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 25.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:56:46 ubuntu cinder-volume[468682]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 27.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:56:47 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 27.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:56:47 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 27.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:57:13 ubuntu cinder-volume[468682]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 29.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:57:14 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 29.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:57:14 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 29.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:57:42 ubuntu cinder-volume[468682]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:57:43 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:57:43 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:58:13 ubuntu cinder-volume[468682]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:58:14 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
Aug 17 07:58:14 ubuntu cinder-volume[468589]: ERROR oslo.messaging._drivers.impl_rabbit [-] Connection failed: [Errno 111] ECONNREFUSED (retrying in 31.0 seconds): ConnectionRefusedError: [Errno 111] ECONNREFUSED
